</script>


<div id='gmapicker_map_canvas_{{id}}' style="width:{{width}}px; height:{{height}}px">

<script type="text/javascript">
  ( function() {
  function initialize() {
    var center = new google.maps.LatLng({{map.center.0}}, {{map.center.1}});
    var position = new google.maps.LatLng({{map.position.0}}, {{map.position.1}});
    var myOptions = {
      zoom: {{map.zoom}},
      center: center,
      mapTypeControl: false,
      streetViewControl: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("gmapicker_map_canvas_{{id}}"),
        myOptions);
    var marker = new google.maps.Marker({
        position: position,
        map: map,
    });
  }

  initialize();
  })();

</script>

</div>

